html {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
       
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1 2;
    overflow-x: hidden;    
}

.div-nav-content {
    display: flex;
}

.div-content {
    background-color: white;
    flex-basis: auto;
    width: 100%;
    height: 100%;
    padding: 5% 0px 0px 0px;
}

.flex-form {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-div-header {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2rem;
    background: #ff5964;
    border: 5px;
    width: 100%;
    padding: 5vh;
    position: sticky;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 5em;
}
.divnav {
    border: 30px;
    width: 100%;
    flex-basis: 7vw;
    height: 100vh;
    background-color: #ff5964;


}

a {
    color: black;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

.home::before {
    content: "🏠";
}

.top5::before {
    content: "🧐";
}

.artists::before {
    content: "🎤";
}

.divpara {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 40px;
}

.divartistname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 46%;
    height: 30px;
    padding: 10px;
    margin: 10px;
}

.divtitle {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 46%;
    height: 30px;
    padding: 10px;
    margin: 10px;
}


img {
    max-width: 50%;
    max-height: 50%;
}
 
.divbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 50px;
    width: 100%;
}

#submit-button {
    top:50%;
    /* position: absolute; */
    width: 300px;
    height: 37.73px;
    box-shadow: 1px 1px 3px 3px rgb(53, 167, 255);
}

.empty-div {
    width: 40px;
    height: 40px;
    margin: 40px;
}